<div class="collapse navbar-collapse navbar-ex1-collapse ">
  <ul class="nav navbar-nav side-nav ">
    <li>
      <a href="#">
        <i  class="fa fa-circle"></i>DashBoard</a>

    </li>
    <li>
      <a href="#">
        <i  class="fa fa-circle"></i> Catalog</a>
    </li>
    <li>
      <a href="#" data-toggle="collapse" data-target="#toggleDemo" data-parent="#sidenav01" class="collapsed">
        <span class="glyphicon glyphicon-cloud"></span> Submenu 1
        <span class="fa fa-fw fa-angle-down pull-right "></span>
      </a>
      <div class="collapse" id="toggleDemo" style="height: 0px;">
        <ul class="nav nav-list">
          <li>
            <a href="#">Submenu1.1</a>
          </li>
          <li>
            <a href="#">Submenu1.2</a>
          </li>
          <li>
            <a href="#">Submenu1.3</a>
          </li>
        </ul>
      </div>
    </li>
    <li>
      <a href="#" data-toggle="collapse" data-target="#Submenu2" data-parent="#sidenav01" class="collapsed">
        <span class="glyphicon glyphicon-cloud"></span> Submenu 2
        <span class="fa fa-fw fa-angle-down pull-right "></span>
      </a>
      <div class="collapse" id="Submenu2" style="height: 0px;">
        <ul class="nav nav-list">
          <li>
            <a href="#">Submenu1.1</a>
          </li>
          <li>
            <a href="#">Submenu1.2</a>
          </li>
          <li>
            <a href="#">Submenu1.3</a>
          </li>
        </ul>
      </div>
    </li>

    <li>
      <a href="#">
        <i class="fa fa-fw fa-user-plus "></i>kits</a>
    </li>
    <li>
      <a href="#">
        <i class="fa fa-fw fa-user-plus "></i>Subscription</a>
    </li>

    <li>
      <a href="# " data-toggle="collapse " data-target="#submenu-2 ">
        <i class="fa fa-fw fa-star
          "></i> MENU 2
        <i class="fa fa-fw fa-angle-down pull-right "></i>
      </a>
      <ul id="submenu-2 " class="collapse ">
        <li>
          <a href="# ">
            <i class="fa fa-angle-double-right "></i> SUBMENU 2.1</a>
        </li>
        <li>
          <a href="# ">
            <i class="fa fa-angle-double-right "></i> SUBMENU 2.2</a>
        </li>
        <li>
          <a href="# ">
            <i class="fa fa-angle-double-right "></i> SUBMENU 2.3</a>
        </li>
      </ul>
    </li>
    <li>
      <a href="# " data-toggle="collapse " data-target="#submenu-2 ">
        <i class="fa fa-fw fa-star
                    "></i> MENU 2
        <i class="fa fa-fw fa-angle-down pull-right "></i>
      </a>
      <ul id="submenu-2 " class="collapse ">
        <li>
          <a href="# ">
            <i class="fa fa-angle-double-right "></i> SUBMENU 2.1</a>
        </li>
        <li>
          <a href="# ">
            <i class="fa fa-angle-double-right "></i> SUBMENU 2.2</a>
        </li>
        <li>
          <a href="# ">
            <i class="fa fa-angle-double-right "></i> SUBMENU 2.3</a>
        </li>
      </ul>
    </li>
  </ul>
</div>






